.create_shift_page {
    background-color: #eaf5fb;

    h4 {
        background: url(../images/hr.png) repeat-x bottom;
        margin-bottom: 20px;
        padding-bottom: 12px;
        text-indent: 20px;
    }

    div label {
        float: right;
        font-weight: bold;
        margin-top: 5px;
    }

    div input {
        margin-top: 0px;
    }

    div input.field {
        width: 220px !important;
    }

    div input.edit-field {
        width: 210px !important;
    }

    div input.input-comment {
        width: 700px !important;
    }

    div input.edit-input-comment {
        width: 650px !important;
    }

    div select {
        width: 160px !important;
    }

    div .shift_select2 {
        text-indent: 0px;
        width: 260px !important;

        input {
            margin-top: 0px;
        }
    }

    div.input-wrapper {
        margin-bottom: 10px;
    }
}

#edit_shift_dlg {
    width: 900px;
    margin-left: -450px;
}
