#flash {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1em;
}

.sections_header {
    height: 70px;
    background: #33393d;
    box-shadow: inset 0 6px 10px 3px #2a2e32;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    text-shadow: 0 1px 3px #181818;
    padding-left: 20px;
    .name {
        padding-top: 12px;
            a {
                color: #ffffff;
                text-decoration: none;
            }
            a:hover {
                color: #81BEF7;
                text-decoration: none;
            }
    }
    .sections {
        height: 30px;
        .section {
            a {
                color: #ffffff;
                text-decoration: none;
            }
            a:hover {
                color: #81BEF7;
                text-decoration: none;
            }
            padding-top: 12px;
            height: 26px;
            float: left;
            font-size: 11px;
            margin-right: 30px;
        }
        .decorate {
            a {
                color: #81BEF7;
                text-decoration: none;
            }
            background: url(../images/pointer.png) no-repeat center bottom;
        }
    }
}
