.profile_page {
    .header {
        background-color: #33393d;
        border: 1px solid #33393d;
        color: #ffffff;
        text-align: center;
        overflow: hidden;
        height: 40px;
        line-height: 40px;

        -webkit-border-radius: 10px 10px 0px 0px;
        -moz-border-radius: 10px 10px 0px 0px;
        border-radius: 10px 10px 0px 0px;

        .title {
            text-indent: 10px;
        }

        .flash_message {
            color: #81BEF7;
            font-size: 12px;
            font-style: italic;
            margin-left: 20px;
        }
    }

    #action {
        margin-right: 10px;
    }

    #member_profile {
        background-color: #eaf5fb;
        clear: both;
        text-indent: 10px;

        div label {
            float: right;
            font-weight: bold;
            margin-top: 15px;
        }

        span {
            margin-top: 10px;
        }

        span.field_icon {
            margin-left: -10px;
            text-indent: 0px;
        }

        input {
            margin-top: 10px;
        }

        select {
            margin-top: 10px;
            height: 30px;
            width: 160px !important;
        }

        .select2_location {
            margin-top: 10px;
            text-indent: 0px;
            width: 300px !important;

            input {
                margin-top: 0px;
            }
        }
    }
}