#shift_page {
    height: 600px;
    margin: 0 auto;
    width: 100%;

    .west_pane {
        background-color: #BDBDBD !important;
    }

    div.calendar-view-header {
        height: 15px;
        border: 1px solid #ddd;
        margin-bottom: -1px;
        padding: 5px;
        background-color: #fafafa;
        background-image: -moz-linear-gradient(top, #fafafa, #efefef);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef));
        background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
        background-image: -o-linear-gradient(top, #fafafa, #efefef);
        background-image: linear-gradient(to bottom, #fafafa, #efefef);
        filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-border-radius: 2px 2px 0px 0px;
        -moz-border-radius: 2px 2px 0px 0px;
        border-radius: 2px 2px 0px 0px;
        overflow: hidden;

        h2 {
            font-size: 14px;
            font-weight: bold;
            float: left;
            margin-top: 1px;
            color: #646464;
            text-shadow: 0px 1px 0px #fff;
        }

        i {
            margin: 0px 10px 0px 2px;
            -webkit-transition: all 0.1s ease-in-out;
            -moz-transition: all 0.1s ease-in-out;
            -o-transition: all 0.1s ease-in-out;
            -ms-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
            opacity: .5;

            &:hover {
                opacity: 1.0;
            }
        }

        a {
            color: #006dcc;
            text-decoration: none;
        }
    }

    div.calendar-view-content {
        margin-top: -1px;
        border: 1px solid #ddd;
        background: #fcfcfc;
        -webkit-border-radius: 0px 0px 2px 2px;
        -moz-border-radius: 0px 0px 2px 2px;
        border-radius: 0px 0px 2px 2px;
        -webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 0.6);
        -moz-box-shadow: 0 1px 0px rgba(255, 255, 255, 0.6);
        box-shadow: 0 1px 0px rgba(255, 255, 255, 0.6);
    }

}
