#{extends 'main.html' /}
#{set title:'Members' /}
#{set 'moreStyles'}
  <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/misc.css.scss'}">
  <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/setting.css.scss'}">
#{/set}

<div class="sections_header">
  <div class="name">
    ${schedule.name}
  </div>
  <div class="sections">
    <div class="section decorate">
      <a href="#">Settings</a>
    </div>
    <div class="section">
      <a href="@{Members.index(account.id, schedule.id)}">Members</a>
    </div>
  </div>
</div>

<div class="settings_page">
  <form id="settings" action="" method="POST" accept-charset="utf-8">
    <div class="row">
      <div class="span12">
        <h4>General</h4>
      </div>
      <div class="span6 offset3">
        <table>
          <tr>
            <td><label>Schedule Name</label></td>
            <td><input id="schedule_name" type="text" name="schedule_name" value="${schedule.name}" /></td>
          </tr>
          <tr>
            <td><label>Account Name</label></td>
            <td><a href="@{Accounts.index}">${account.name} (owner: ${account.owner.name})</a></td>
          </tr>
        </table>
      </div>
      <div class="span12">
        <h4></h4>
      </div>
      <div class="span6 offset3">
        <table>
          <tr>
            <td><input id="signinBtn" class="btn btn-primary" type="submit"
                       value="Save Settings" /></td>
          </tr>
        </table>
      </div>
    </div>
  </form>
</div>

#{set 'moreScripts'}
<script type="text/javascript">
  $(function() {
  });
</script>
#{/set}
