<script type="text/javascript">
  $(function() {
    // Inform the subscriber new view by selected.
    $('#viewByDays').change(function() {
      $.publish("/calViewHeader/viewByDays",  {viewByDays: $(this).val()});
    });

    // Inform the subscriber prev or next button is clicked.
    $('a#prev, a#next').click(function(e) {
      e.preventDefault();
      var targetId = $(this).attr("id");
      $.publish("/calViewHeader/dateChange",  {dateChange: targetId});
    });
  });
</script>

<div id="view_header" class="box">
  <div class="box-header widget_content">
    <div class="row-fluid">
      <div class="span3">
        <div class="row-fluid">
          <div class="span5">
            <label>View By:</label>
          </div>
          <div class="span7 pull-left">
            <select id="viewByDays">
              <option value="1"> One Day </option>
              <option value="3"> Three Days </option>
              <option value="14"> Two Weeks </option>
              <option value="28"> Four Weeks </option>
              <option value="42"> Six Weeks </option>
            </select>
          </div>
        </div>
      </div>
      <div class="span6 center">
        <label><a id="prev" href="#"><i class="icon-chevron-left"></i></a>&nbsp;&nbsp;&nbsp;<span id="lbl_spStartDate"></span>&nbsp;&nbsp;&nbsp;<a id="next" href="#"><i class="icon-chevron-right"></i></a></label>
      </div>
      <div class="span3">
        <!-- save for future use -->
      </div>
    </div>
  </div>
</div>
