<script type="text/javascript">
  $(function() {
    $('#profile').on('click', function(e) {
      $('#profile_dlg').modal({
        show: true,
        keyboard: false
      });
      return false;
    });
  });
</script>

#{if _user}
#{set 'moreStyles'}
  <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/user.css.scss'}">
#{/set}
#{include 'Users/edit.html' /}
#{/if}

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a id="logo" href="#">Open Schedule</a>
      <nav>
        <ul class="nav pull-right">
          #{if _user}
            #{if _schedule}
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Menu <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li class="nav-header">Shift Management</li>
                  <li><a href="@{Shifts.createShift(_schedule.id)}"><i class="icon-calendar"></i>Create / Post New Shift</a></li>
                </ul>
              </li>
            #{/if}
            <li><a href="@{Application.index}">Home</a></li>
            <li><a href="#">Help</a></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="http://www.gravatar.com/avatar/${models.User.gravatarHash(_user.email).raw()}?s=20"/>
                ${_user.name} <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a id="profile" href="#"><i class="icon-user"></i> Profile</a></li>
                <li><a href="@{Accounts.index}"><i class="icon-edit"></i> Accounts</a></li>
                <li class="divider"></li>
                <li><a href="@{Application.signout}"><i class="icon-signout"></i> Sign Out</a></li>
              </ul>
            </li>
          #{/if}
          #{else}
            <li><a href="@{Application.index}">Home</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="@{Application.signin}">Sign In</a></li>
          #{/else}
        </ul>
      </nav>
    </div>
  </div>
</header>
