<script type="text/javascript">
  $(function() {
    // Initialize scheduling period date picker.
    var spStartDate = new Date();
    $('#sPeriod').datepicker().on('changeDate', function(e) {
      spStartDate = new Date(e.date);
      spStartDate.setDate(spStartDate.getDate() + 1);

      // Inform the subscriber a new date selected.  
      $.publish("/schedulingPeriod/startDate",  {startDate: spStartDate});
    });
  });
</script>

<div class="box-header">
  <h2><i class="icon-calendar"></i><span class="break"></span>Scheduling Period</h2>
  <div class="box-icon">
    <a href="#" class="btn-setting"><i class="icon-wrench"></i></a>
    <a href="#" class="btn-minimize"><i class="icon-chevron-down"></i></a>
    <a href="#" class="btn-close"><i class="icon-remove"></i></a>
  </div>
</div>
<div class="box-content" id="schedulingPeriod" style="display:none;">
  <div id="sPeriod" class="center"></div>
</div>
