#{extends 'main.html' /}
#{set title:'Members' /}
#{set 'moreStyles'}
  <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/misc.css.scss'}">
  <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/member.css.scss'}">
#{/set}

<div class="sections_header">
  <div class="name">
    ${schedule.name}
  </div>
  <div class="sections">
    <div class="section">
      <a href="@{Settings.index(schedule.id)}">Settings</a>
    </div>
    <div class="section decorate">
      <a href="#">Members</a>
    </div>
  </div>
</div>

<div class="members_page">
  <h4>Members</h4>
  <div class="action_area">
    <table>
      <tbody>
        <tr>
          <form id="member_info" accept-charset="utf-8">
            <td>
              <label>Add Member</label>
            </td>
            <td>
              <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span>
                <input type="text" id="name" name="name" placeholder="Display Name (e.g. John Smith)" />
              </div>
              <input type="hidden" id="account_id" name="account_id" value="${schedule.account.id}" />
              <input type="hidden" id="schedule_id" name="schedule_id" value="${schedule.id}" />
            </td>
            <td>
              <div class="input-prepend">
                <span class="add-on"><i class="icon-envelope"></i></span>
                <input type="text" id="email" name="email" placeholder="Email" />
              </div>
            </td>
            <td>
              <select id="role_id" name="role_id">
                #{list items:roles, as:'role'}
                  #{if role.description == 'Member' }
                    <option value="${role.id}" selected="selected">${role.description}</option>
                  #{/if}
                  #{else}
                    <option value="${role.id}">${role.description}</option>
                  #{/else}
                #{/list}
              </select>
            </td>
            <td>
              <a id="add_member" class="btn btn-primary" href="#">Add&nbsp; <i class="icon-plus icon-white"></i> </a>
            </td>
          </form>
        </tr>
      </tbody>
    </table>
  </div>
  <br />
  <div id="max_members_warning" class="alert alert-info" style="display:none;">
    <i class="icon-info-sign"></i> You have reached the maximum number of schedule members for this account.<br />
    You can either remove inactive members or <a href="@{Plans.index(schedule.account.id)}"><strong>upgrade your plan</strong></a>.
  </div>
  <div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        #{list items:members, as:'member'}
        <tr>
          <td><a href="@{Users.show(member.user.id)}">${member.user.name}</a></td>
          <td>${member.user.email}</td>
          <td>${member.user.role.description}</td>
          <td>
            #{if (user.role.description == 'Admin' || user.role.description == 'Owner') &&
                 member.user.role.description != 'Owner' }
              <a href="#" onclick="deleteMember(${member.id}, '${member.user.name}', '${member.schedule.name}')"><i class="icon-trash"></i> Remove</a>
            #{/if}
          </td>
        </tr>
        #{/list}
      </tbody>
    </table>
  </div>
</div>

#{set 'moreScripts'}
<script type="text/javascript">
  $(function() {
    $('#add_member').click(function() {
      $('#max_members_warning').hide();
      $.ajax({
        type: 'POST',
        url: '@{Members.create}',
        data: $('#member_info').serialize(),
        dateType: 'json',
        success: function(data) {
          if (data.status == "warning") {
            $('#max_members_warning').show();
            $('#member_info')[0].reset();
          }
          else if (data.status == "error") {
            bootbox.alert(data.message + "\n" + data.detail);
            $('#member_info')[0].reset();
          }
          else {
            window.location.reload();
          }
        },
        error: function(xhr, ajaxOptions, thrownError) {
          bootbox.alert("Error adding new member:  " + xhr.responseText);
        }
      });
      return false;
    });
  });

  function deleteMember(memberId, memberName, scheduleName) {
    bootbox.confirm("You are about to remove " + memberName + " from accessing " + scheduleName + ".  Are you sure you want to do this?", function(result) {
      if (result) {                                             
        var deleteAction = #{jsAction @Members.delete(':member_id') /};
        $.ajax({
          type: 'DELETE',
          url: deleteAction({member_id: memberId}),
          success: function(data) {
            if (data.status == "error") {
              bootbox.alert("Error deleting member");
            }
            else {
              window.location.reload();
            }
          },
          error: function(xhr, ajaxOptions, thrownError) {
            bootbox.alert("Error deleting member: " + xhr.responseText);
          }
        });
      }
    });
  }
</script>
#{/set}
